* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gaegu", sans-serif;
  background-color: rgb(255, 203, 91);
  min-height: 100vh;
  color: white;
}

header,
p,
.divImg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 3rem;
}

p {
  color: rgb(78, 78, 78);
  font-size: 1.5rem;
  font-weight: 1000;
  margin-top: 0;
}

.notReally {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}

.divImg {
  border: 0px;
  outline: 0rem;
}

button {
  display: block;
  margin: 1rem auto;
  width: 16rem;
  height: 3rem;
  font-family: "Gaegu", sans-serif;
  font-size: 1.8rem;
  font-weight: 1000;
  border: 2 px;
  outline: none;
  color: rgb(78, 78, 78);
  background-color: rgb(255, 213, 151);
  border-radius: 3rem;
  transition: all 0.5s;
}

i {
  color: rgb(218, 95, 95);
  font-size: 1.25rem;
  margin-left: 0.2rem;
}

button:hover {
  background-color: rgb(252, 226, 187);
  width: 17rem;
  height: 3.5rem;
  font-size: 2rem;
  transition: all 0.5s;
}

/*MOBILE media query*/
@media all and (max-width: 800px) {
  header,
  p {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .divImg {
    margin-top: 0.25rem;
    margin: 0 1.5rem 0 1.5rem;
  }

  header {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.1rem;
  }
  button {
    margin-top: 0.25rem;
    margin-bottom: 0rem;
    width: 13rem;
    height: 2rem;
    font-size: 1.5rem;
  }
  .notReally {
    font-size: 0.5rem;
  }
}
