@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.pageWrapper {
  min-height: 100%;
}

.main {
  overflow: auto;
  padding-bottom: 170px;
}

body {
  position: relative;
  font-family: "Patrick Hand", sans-serif;
  background-color: rgb(231, 239, 255);
  color: rgb(34, 71, 126);
  border-top: 7px solid rgb(20, 32, 49);
  border-right: 7px solid rgb(20, 32, 49);
  border-left: 7px solid rgb(20, 32, 49);
}

.top {
  display: flex;
  justify-content: space-around;
  margin: 0 120px;
}

/* FDA BADGE */
.fda {
  display: grid;
  place-items: center;
  width: 110px;
  height: 110px;
  border: rgb(34, 71, 126) 2.5px solid;
  border-radius: 50%;
  background: rgb(205, 221, 255);
  transform: translate(0px, 15px);
}

.innerCircle {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: rgb(255, 247, 237);
  border: rgb(34, 71, 126) 2.5px dashed;
  padding-top: 11px;
  font-weight: 500;
  font-size: 1.25em;
  text-align: center;
}

header,
p,
.divImg {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
}

.topSpace {
  width: 110px;
}

.subhead {
  display: flex;
  justify-content: center;
  height: 50px;
}

.subhead svg {
  margin: 0 50px;
}

#arrow {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.5rem;
  font-weight: 1000;
  margin-top: 0;
}

.notReally {
  font-size: 0.6rem;
  margin-left: 0.25rem;
  transform: translateY(5px);
}

/* iFrame */

.ImgContainer {
  display: flex;
  justify-content: center;
}

.ImgContainer svg {
  margin-top: 150px;
}

.divImg {
  display: flex;
  justify-content: center;
  outline: 0rem;
  background: bisque;
  border: 5px solid #3964a3;
  border-radius: 7px;
  height: 520px;
  width: 730px;
  box-shadow: 1px 4px 10px 5px rgba(0, 0, 0, 0.315);
}

/* BUTTON */
.buttonContainer {
  display: flex;
  justify-content: center;
}

.bottomGap {
  width: 28px;
}

.buttonSlit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-top: 2px solid #22477e;
  width: 155px;
}

button {
  width: 9rem;
  height: 3rem;
  font-family: "Patrick Hand", sans-serif;
  font-size: 1.4rem;
  font-weight: 1000;
  border: 2px solid #22477e;
  color: rgb(34, 71, 126);
  background-color: rgb(255, 246, 236);
  transition: all 0.5s;
  transform: translateY(-1.5px);
  box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.315);
}

button:hover {
  height: 3.2rem;
  transition: all 0.5s;
  cursor: pointer;
}

h2 {
  font-size: 1.25rem;
  transform: translate(-13px, 50px);
}

/*CLOUDS*/

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  position: relative;
  background: rgb(13, 24, 37);
  width: 100%;
  height: 170px;
  margin-top: -100px;
  clear: both;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.31rem;
  font-weight: 400;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  width: 900px;
  height: auto;
}

.footer p {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(204, 204, 204);
}

.about {
  width: 350px;
}

.about p {
  padding-top: 10px;
}

.linkIcons {
  width: 130px;
  display: flex;
  justify-content: space-between;
}
.footer div {
  margin-top: 10px;
}

ul {
  padding-top: 10px;
}

ul,
li {
  list-style-type: none;
  font-size: 0.8rem;
  font-weight: 300;
  color: #cccccc;
}

a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

a:visited {
  text-decoration: none;
  color: rgb(204, 204, 204);
}
a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

.contact p {
  padding-top: 10px;
}

/*MOBILE media query*/
@media all and (max-width: 700px) {
  body {
    border: 0px solid rgb(34, 71, 126);
  }

  .main {
    padding-bottom: 50px;
  }
  header,
  p {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .fda {
    width: 0;
    display: none;
  }

  .innerCircle {
    width: 0;
  }
  .topCloud {
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: 50px;
  }

  svg {
    display: none;
  }

  .subhead {
    display: flex;
    justify-content: center;
    height: 30px;
  }

  .divImg {
    outline: 0rem;
    margin-top: 0.25rem;
    margin: 0 1.5rem;
    background: bisque;
    width: 350px;
  }

  .buttonContainer {
    transform: translateX(-10px);
  }

  .top {
    margin: 0 0;
  }

  header {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    width: 300px;
  }

  .topSpace {
    display: none;
  }

  p {
    font-size: 1rem;
  }

  .notReally {
    font-size: 0.5rem;
  }

  .footer {
    width: 400px;
    transform: translate(0px);
  }

  .about {
    width: 150px;
  }

  h2 {
    display: none;
  }
  .contact {
    display: none;
  }
}
