@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Patrick Hand", sans-serif;
  background-color: rgb(231, 239, 255);
  min-height: 100vh;
  color: rgb(34, 71, 126);
  border: 7px solid rgb(34, 71, 126);
}

.topCloud {
  display: flex;
  justify-content: space-around;
  margin: 0 120px;
}

header,
p,
.divImg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
}

.subhead {
  display: flex;
  justify-content: center;
  height: 50px;
}

.subhead svg {
  margin: 0 50px;
}

p {
  font-size: 1.5rem;
  font-weight: 1000;
  margin-top: 0;
}

.notReally {
  font-size: 0.6rem;
  margin-left: 0.25rem;
  padding: 0;
  transform: translateY(5px);
}

.container {
  display: flex;
  justify-content: center;
}

.divImg {
  border: 0px;
  outline: 0rem;
  background: bisque;
  border: 3px solid #3964a3;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonSlit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-top: 2px solid rgb(34, 71, 126);
  width: 155px;
}

button {
  width: 9rem;
  height: 3rem;
  font-family: "Patrick Hand", sans-serif;
  font-size: 1.4rem;
  font-weight: 1000;
  border: 2px solid rgb(34, 71, 126);
  color: rgb(34, 71, 126);
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
  transform: translateY(-1.5px);
  box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.315);
}

button:hover {
  height: 3.5rem;
  transition: all 0.5s;
}

/*MOBILE media query*/
@media all and (max-width: 800px) {
  body {
    border: 0px solid rgb(34, 71, 126);
  }

  header,
  p {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .topCloud {
    display: flex;
    justify-content: space-around;
    margin: 0;
    height: 50px;
  }

  svg {
    width: 5em;
  }

  .subhead {
    display: flex;
    justify-content: center;
    height: 50px;
  }
  .subhead svg {
    width: 0;
  }

  .divImg {
    border: 10px solid bisque;
    outline: 0rem;
    margin-top: 0.25rem;
    margin: 0 1.5rem;
    background: bisque;
  }

  header {
    font-size: 1rem;
  }
  p {
    font-size: 1.1rem;
  }

  button {
    margin-bottom: 0rem;
    transform: translateY(-2px);
  }
  .notReally {
    font-size: 0.5rem;
  }
}
