@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: 7px solid #101722;
}

::-webkit-scrollbar-thumb {
  background: #4c6892;
  border-radius: 7px;
}

html,
body {
  height: 100%;
}

.pageWrapper {
  min-height: 100%;
}

.main {
  overflow: visible;
  padding-bottom: 140px;
}

body {
  position: relative;
  font-family: "Itim", sans-serif;
  background-color: rgb(225, 246, 255);
  color: #0f49a0;
  transition: ease 0.5s;
}

body.active {
  background: rgb(22, 32, 51);
}

.top {
  display: flex;
  justify-content: space-around;
  margin: 0 120px;
}

/* FDA BADGE */
.fda {
  display: grid;
  place-items: center;
  width: 110px;
  height: 110px;
  border: rgb(34, 71, 126) 2.5px solid;
  border-radius: 50%;
  background: rgb(205, 221, 255);
  transform: translate(0px, 15px);
}

.fda.active {
  background: rgb(30, 47, 85);
  border: rgb(48, 74, 117) 2.5px solid;
}

.innerCircle {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: rgb(240, 232, 223);
  border: rgb(218, 130, 130) 2.5px solid;
  padding-top: 19px;
  font-weight: 800;
  font-size: 1em;
  text-align: center;
}

.innerCircle.active {
  background: rgb(22, 32, 51);
  color: rgb(105, 135, 199);
}

header,
p,
.divImg {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  transition: ease all 1s;
}

header {
  font-family: "Itim";
  font-size: 1.5rem;
}

header.active {
  color: indianred;
}

h1 {
  transition: 0.35s ease;
}

h1:hover {
  transform: scale(1.1);
}

#toggle {
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  transform: translate(50px, 50px);
  border-radius: 160px;
  background: rgb(255, 138, 117);
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.514),
    inset 0 2px 2px rgba(0, 0, 0, 0.356), inset 0 -1px 1px rgba(0, 0, 0, 0.418);
}

#toggle.active {
  background: rgb(225, 246, 255);
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.315),
    inset 0 2px 5px rgba(0, 0, 0, 0.315), inset 0 -4px 5px rgba(0, 0, 0, 0.137);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom, rgb(59, 62, 83), rgb(26, 30, 68));
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.3),
    inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

#toggle.active .indicator {
  left: 35px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.3),
    inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

svg {
  transition: ease all 0.75s;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.7));
}

.cloud {
  transform: translateY(0);
  stroke: #3964a3;
  animation: float 8s ease-in-out infinite;
}

.cloud {
  /* gradient and fallback color */
  fill: url(#cloud-gradient) #447697;
}

.darkCloud.active {
  fill: url(#dark-cloud-gradient) #447697;
  stroke: rgb(10, 23, 39);
}

.behindCloud {
  stroke: #3964a3;
  fill: url(#cloud-gradient) #447697;
}
.behindCloud.active {
  fill: url(#dark-cloud-gradient) #447697;
  stroke: rgb(10, 23, 39);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(-15px);
    transform: translateX(-7px);
  }

  75% {
    transform: translateY(15px);
    transform: translateX(7px);
  }

  100% {
    transform: translateY(0px);
    transform: translateX(0px);
  }
}

.topSpace {
  width: 110px;
}

.subhead {
  display: flex;
  justify-content: center;
  height: 50px;
}

.subheadSpace {
  width: 150px;
  height: 150px;
}

.subhead p {
  transition: 0.35s ease;
}

.subhead p:hover {
  transform: scale(1.1);
}

.subhead svg {
  margin: 0 50px;
}

#arrow {
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
}

#arrowA {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
}

p {
  font-size: 1.5rem;
  font-weight: 1000;
  margin-top: 0;
}

.quote {
  transition: 0.25s ease;
}

.quote.active {
  color: indianred;
}

.notReally {
  font-size: 0.6rem;
  margin-left: 0.25rem;
  transform: translateY(12px);
  color: indianred;
}

/* iFrame */

.ImgContainer {
  display: flex;
  justify-content: center;
}

.ImgContainer svg {
  margin-top: 150px;
}

.divImg {
  display: flex;
  justify-content: center;
  outline: 0rem;
  background: bisque;
  border: 5px solid #3964a3;
  border-radius: 7px;
  height: 520px;
  width: 730px;
  box-shadow: 1px 4px 10px 5px rgba(0, 0, 0, 0.315);
  transition: 0.5s ease;
}

.divImg.active {
  background: rgb(40, 55, 82);
  border: 2px solid rgb(13, 23, 44);
}

iframe {
  transition: ease all 0.75s;
}
/* BUTTON */
.buttonContainer {
  display: flex;
  justify-content: center;
}

.bottomGap {
  width: 28px;
}

.buttonSlit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-top: 2px solid #22477e;
  width: 155px;
}

.buttonSlit.active {
  border-top: 2px solid rgb(13, 23, 44);
}

button {
  width: 9rem;
  height: 3rem;
  font-family: "Itim", sans-serif;
  font-size: 1.2rem;
  font-weight: 1000;
  border: 2px solid #22477e;
  color: rgb(34, 71, 126);
  background-color: rgb(255, 246, 236);
  transition: ease all 0.3s;
  transform: translateY(-1.5px);
  box-shadow: 1px 4px 5px 2px rgba(0, 0, 0, 0.315);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  outline: none;
}

button:hover {
  height: 3.2rem;
  cursor: pointer;
}

button.active {
  background-color: indianred;
  color: rgb(255, 230, 193);
  border: 3px solid rgb(13, 23, 44);
}

h2 {
  font-size: 1.25rem;
  transform: translate(-13px, 50px);
}

.moonContainer {
  width: 150px;
  height: 150px;
}

.moon {
  position: absolute;
  background-color: rgb(225, 246, 255);
  border-radius: 50%;
  height: 120px;
  width: 120px;
  transform: translate(0px, 1000px);
  transition: 1s ease;
}

.moon.active {
  transform: translate(0px, -0px);
  visibility: visible;
  background: rgb(215, 246, 255);
  box-shadow: 0 2px 65px rgba(255, 255, 255, 0.623),
    inset 0 2px 5px rgba(0, 0, 0, 0.616);
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  position: relative;
  background: rgb(13, 24, 37);
  width: 100%;
  height: 170px;
  margin-top: -100px;
  clear: both;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.31rem;
  font-weight: 400;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  width: 900px;
  height: auto;
  transition: ease all 0.75s;
}

.footer p {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(204, 204, 204);
  transition: ease all 0.75s;
}

.about {
  width: 350px;
}

.about p {
  padding-top: 10px;
}

.linkIcons {
  width: 130px;
  display: flex;
  justify-content: space-between;
}
.footer div {
  margin-top: 10px;
}

ul {
  padding-top: 10px;
}

ul,
li {
  list-style-type: none;
  font-size: 0.8rem;
  font-weight: 300;
  color: #cccccc;
}

a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

a:visited {
  text-decoration: none;
  color: rgb(204, 204, 204);
}
a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

.contact p {
  padding-top: 10px;
}

/*MOBILE media query*/
@media all and (max-width: 1800px) {
}

@media all and (max-width: 1200px) {
  .moonContainer {
    display: none;
  }
  .subheadSpace {
    display: none;
  }
}

@media all and (max-width: 1000px) {
  .main svg {
    display: none;
  }

  h2 {
    display: none;
  }

  .subhead {
    height: 30x;
  }

  .divImg {
    margin: 10px;
  }
}

@media all and (max-width: 938px) {
  .topSpace {
    display: none;
  }
  .fda {
    display: none;
  }
  .main {
    padding-bottom: 100px;
  }
}

@media all and (max-width: 800px) {
  .divImg {
    width: 90%;
  }

  .footer {
    font-size: 1rem;
  }

  .footerContent {
    width: 90%;
  }

  .footer p {
    font-size: 0.75rem;
  }

  .about {
    width: 250px;
    padding-right: 20px;
  }

  .links {
    width: 170px;
    padding-right: 20px;
  }
}

@media all and (max-width: 720px) {
  header {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .top {
    margin: 0 0;
  }
  .buttonContainer {
    transform: translateX(-10px);
  }
}

@media all and (max-width: 550px) {
  .footer svg {
    display: none;
  }
  .divImg {
    height: 420px;
  }

  iframe {
    height: 95%;
    width: 95%;
  }
}

@media all and (max-width: 450px) {
  body {
    background: rgb(22, 32, 51);
    border: 0;
  }

  header {
    font-size: 1.25rem;
    color: indianred;
  }

  .subhead {
    color: rgb(223, 128, 128);
  }

  .divImg {
    background: rgb(40, 55, 82);
    border: 2px solid rgb(13, 23, 44);
  }

  .buttonSlit {
    border-top: 2px solid rgb(13, 23, 44);
  }

  button {
    background-color: indianred;
    color: rgb(255, 230, 193);
    border: 3px solid rgb(13, 23, 44);
  }
  .top {
    margin: 0 0;
  }
  .quote {
    font-size: 1.25rem;
  }
  .notReally {
    font-size: 0.5rem;
  }
}

@media all and (max-width: 429px) {
  .contact {
    display: none;
  }
  .links {
    padding-right: 0;
  }
  .footer svg {
    display: unset;
  }
}
